extends layout/index
block content
  // Main Layout
  main.text-center.py-5
    .container
      .row
        .col-md-12
          .jumbotron.bg-light
            h1.display-4 Lorem ipsum
            p.lead
              | dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              | labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            hr.my-4
            p
              | voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              | cupidatat non
      .row
        .col-md-12
          p.test-justify
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            | exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            | dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            | mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            | veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            | dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
            | in culpa qui officia deserunt mollit anim id est laborum.
      .row.align-items-center.my-3
        .col-md-3
          hr
        .col-md-6
          h1.display-4 ESTRATEGIA
        .col-md-3
          hr
      .row.my-3
        .col-md-12
          img.img-fluid(src='https://via.placeholder.com/950x620' alt='')
      .row.align-items-center.my-3
        .col-md-3
          hr
        .col-md-6
          h1.display-4 CRITERIO DE INVERSION
        .col-md-3
          hr
      .row.my-3
        .col-6
          img.img-fluid(src='https://via.placeholder.com/495x282' alt='')
        .col-6
          img.img-fluid(src='https://via.placeholder.com/495x282' alt='')
      .row.my-3
        .col-6
          img.img-fluid(src='https://via.placeholder.com/495x282' alt='')
        .col-6
          img.img-fluid(src='https://via.placeholder.com/495x282' alt='')
      .row.align-items-center.my-3
        .col-md-3
          hr
        .col-md-6
          h1.display-4 EQUIPO
        .col-md-3
          hr
      .row.my-3
        .col-sm-6
          // Card Regular
          .card.card-cascade
            // Card image
            .view.view-cascade.overlay
              img.card-img-top(src='https://mdbootstrap.com/img/Photos/Others/men.jpg' alt='Card image cap')
              a
                .mask.rgba-white-slight
            // Card content
            .card-body.card-body-cascade.text-center
              // Title
              h4.card-title
                strong Anais Cisneros
              // Subtitle
              h6.font-weight-bold.blue-text.py-2 Business analyst
              // Text
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus,
                | ex,
                | recusandae. Facere modi sunt, quod quibusdam.
              // Facebook
              a.btn-floating.btn-small.btn-fb(type='button')
                i.fab.fa-facebook-f
              // Twitter
              a.btn-floating.btn-small.btn-tw(type='button')
                i.fab.fa-twitter
              // Linkedin
              a.btn-floating.btn-small.btn-li(type='button' role='button')
                i.fab.fa-linkedin-in
          // Card Regular
        .col-sm-6
          // Card Regular
          .card.card-cascade
            // Card image
            .view.view-cascade.overlay
              img.card-img-top(src='https://mdbootstrap.com/img/Photos/Others/men.jpg' alt='Card image cap')
              a
                .mask.rgba-white-slight
            // Card content
            .card-body.card-body-cascade.text-center
              // Title
              h4.card-title
                strong Billy Coleman
              // Subtitle
              h6.font-weight-bold.blue-text.py-2 Web developer
              // Text
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus,
                | ex,
                | recusandae. Facere modi sunt, quod quibusdam.
              // Facebook
              a.btn-floating.btn-small.btn-fb(type='button')
                i.fab.fa-facebook-f
              // Twitter
              a.btn-floating.btn-small.btn-tw(type='button')
                i.fab.fa-twitter
              // Linkedin
              a.btn-floating.btn-small.btn-li(type='button' role='button')
                i.fab.fa-linkedin-in
          // Card Regular
      .row.align-items-center.my-3
        .col-md-3
          hr
        .col-md-6
          h1.display-4 INVERSORES
        .col-md-3
          hr
      .row.my-3
        .col-2
        .col-8
          p.text-center
            span.font-weight-bold El tigre capital
            |  está respaldado por un grupo diverso de individuos e instituciones de Perú, Estados Unidos y España, con amplia experiencia en la industria de alimentos.
        .col-2
      .row.align-items-center.my-3
        .col-md-3
          hr
        .col-md-6
          h1#contacto.display-4 CONTACTO
        .col-md-3
          hr
      if success
        .row.my-3
          .col-md-3
          .col-md-6.align-items-center
            .alert.alert-success.text-center
              |  Gracias por su contacto
          .col-md-3
      if emailVal==false
        .row.my-3
          .col-md-3
          .col-md-6.align-items-center
            .alert.alert-danger.text-center
              |  Email incorrecto, por favor ingrese un correo valido
          .col-md-3          
      .row.my-3
        .col-md-12
          // Section: Contact v.2
          section.mb-4
            // Section description
            p.text-center.w-responsive.mx-auto.mb-5
              | Do you have any questions? Please do not hesitate to contact us directly. Our team
              | will come back to you within a matter of hours to help you.
            .row
              // Grid column
              .col-md-9.mb-md-0.mb-5
                form#contact-form.needs-validation(name='contact-form' action='/' method='POST' novalidate='')
                  // Grid row
                  .row
                    // Grid column
                    .col-md-6
                      .md-form.mb-0
                        input#name.form-control(type='text' name='name' required='')
                        label(for='name') Your name
                        .invalid-feedback
                          | Please write your name.
                    // Grid column
                    // Grid column
                    .col-md-6
                      .md-form.mb-0
                        input#email.form-control(type='text' name='email' required='')
                        label(for='email') Your email
                        .invalid-feedback
                          | Please write your email.
                    // Grid column
                  // Grid row
                  // Grid row
                  .row
                    .col-md-12
                      .md-form.mb-0
                        input#subject.form-control(type='text' name='subject' required='')
                        label(for='subject') Subject
                        .invalid-feedback
                          | Please write a subject for this message.
                  // Grid row
                  // Grid row
                  .row
                    // Grid column
                    .col-md-12
                      .md-form
                        textarea#message.form-control.md-textarea(type='text' name='message' rows='2' required='')
                        label(for='message') Your message
                        .invalid-feedback
                          | Please write a message body.
                  // Grid row
                  .text-center.text-md-left
                    input.btn.btn-primary(type='submit' value='Send')
                .status
              // Grid column
              // Grid column
              .col-md-3.text-center
                ul.list-unstyled.mb-0
                  li
                    i.fas.fa-map-marker-alt.fa-2x
                    p Narnia, la victoria. Peru
                  li
                    i.fas.fa-phone.mt-4.fa-2x
                    p + 01 234 567 89
                  li
                    i.fas.fa-envelope.mt-4.fa-2x
                    p anaiscisneros@peluchin.com
              // Grid column

