extends layout/index
block content
  // Main Layout
  main.text-center.pb-3
    .container
      .row
        .col-md-12
          .jumbotron.bg-light
            h1.display-4 Nosotros
            p.lead
              span.font-weight-bold El tigre capital
              |  es un fondo creado por expertos en el área de alimentación que busca
              | oportunidades de inversión en el sector.
            hr.my-4
            p
              | El objetivo es identificar, adquirir, integrar y operar una empresa mediana en LATAM.
      .row
        .col-md-12
          p.test-justify
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            | exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            | dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            | mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            | veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            | dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
            | in culpa qui officia deserunt mollit anim id est laborum.
      .row.align-items-center.my-3
        .col-md-3
          hr
        .col-md-6
          h1.display-4 ESTRATEGIA
        .col-md-3
          hr
      .row.my-3
        .col-md-12
          img.img-fluid(src='images/estrategia.png' alt='')
      .row.align-items-center.my-3
        .col-md-3
          hr
        .col-md-6
          h1.display-4 CRITERIO DE INVERSION
        .col-md-3
          hr
      .row.my-3
        .col-md-12
          img.img-fluid(src='/images/criteriodeinversion.png' alt='')
      .row.align-items-center.my-3
        .col-md-3
          hr
        .col-md-6
          h1.display-4 EQUIPO
        .col-md-3
          hr
      .row.my-3
        .col-sm-6
          .card-wrapper
            #card-1.card.card-rotating.text-center
              // Front Side
              .face.front
                // Image
                .card-up
                  img.card-img-top(src='https://mdbootstrap.com/img/Photos/Others/photo7.jpg' alt='Image with a photo of clouds.')
                // Avatar
                .avatar.mx-auto.white
                  img.rounded-circle(src='images/anais.png' alt='Sample avatar image.')
                .card-body.card-body-cascade.text-center
                  // Title
                  h4.card-title
                    strong Anais Cisneros
                  // Subtitle
                  h6.font-weight-bold.blue-text.py-2 Socia
                  // Text
                  p.card-text
                    span.font-weight-bold 8+ a&ntilde;os de experiencia en Consultor&iacute;a
                    br
                    | INSEAD MBA
                    br
                    | Administradora de negocios
                  // Facebook
                  a.btn-floating.btn-small.btn-fb(type='button')
                    i.fab.fa-facebook-f
                  // Twitter
                  a.btn-floating.btn-small.btn-tw(type='button')
                    i.fab.fa-twitter
                  // Linkedin
                  a.btn-floating.btn-small.btn-li(type='button' role='button')
                    i.fab.fa-linkedin-in
              // Front Side
              // Back Side
              .face.back
        // Rotating card
        .col-sm-6
          .card-wrapper
            #card-1.card.card-rotating.text-center
              // Front Side
              .face.front
                // Image
                .card-up
                  img.card-img-top(src='https://mdbootstrap.com/img/Photos/Others/photo7.jpg' alt='Image with a photo of clouds.')
                // Avatar
                .avatar.mx-auto.white
                  img.rounded-circle(src='images/fernando.jpg' alt='Sample avatar image.')
                .card-body.card-body-cascade.text-center
                  // Title
                  h4.card-title
                    strong Fernando Guzman
                  // Subtitle
                  h6.font-weight-bold.blue-text.py-2 Socio
                  // Text
                  p.card-text
                    span.font-weight-bold 8+ a&ntilde;os de experiencia en la industria de alimentos
                    br
                    | INSEAD MBA
                    br
                    | Administrador de negocios
                  // Facebook
                  a.btn-floating.btn-small.btn-fb(type='button')
                    i.fab.fa-facebook-f
                  // Twitter
                  a.btn-floating.btn-small.btn-tw(type='button')
                    i.fab.fa-twitter
                  // Linkedin
                  a.btn-floating.btn-small.btn-li(type='button' role='button')
                    i.fab.fa-linkedin-in
              // Front Side
              // Back Side
              .face.back
      // Rotating card      
      .row.align-items-center.my-3
        .col-md-3
          hr
        .col-md-6
          h1.display-4 INVERSORES
        .col-md-3
          hr
      .row.my-3
        .col-2
        .col-8
          p.text-center
            span.font-weight-bold El tigre capital
            |  está respaldado por un grupo diverso de individuos e instituciones de Perú, Estados Unidos y España, con amplia experiencia en la industria de alimentos.
        .col-2
      .row.align-items-center.my-3
        .col-md-3
          hr
        .col-md-6
          h1#contacto.display-4 CONTACTO
        .col-md-3
          hr
      if success
        .row.my-3
          .col-md-3
          .col-md-6.align-items-center
            .alert.alert-success.text-center
              |  Gracias por su contacto
          .col-md-3
      if emailVal==false
        .row.my-3
          .col-md-3
          .col-md-6.align-items-center
            .alert.alert-danger.text-center
              |  Email incorrecto, por favor ingrese un correo valido
          .col-md-3          
      .row.my-3
        .col-md-12
          // Section: Contact v.2
          section.mb-4
            // Section description
            p.text-center.w-responsive.mx-auto.mb-5
              | ¿Tiene usted alguna pregunta? Por favor no dude en contactarnos directamente. 
              | Nuestro equipo se comunicará con usted en cuestión de horas para ayudarlo.
            .row
              // Grid column
              .col-md-9.mb-md-0.mb-5
                form#contact-form.needs-validation(name='contact-form' action='/' method='POST' novalidate='')
                  // Grid row
                  .row
                    // Grid column
                    .col-md-6
                      .md-form.mb-0
                        input#name.form-control(type='text' name='name' required='')
                        label(for='name') Su nombre
                        .invalid-feedback
                          | Por favor escriba su nombre.
                    // Grid column
                    // Grid column
                    .col-md-6
                      .md-form.mb-0
                        input#email.form-control(type='text' name='email' required='')
                        label(for='email') Su correo
                        .invalid-feedback
                          | Por favor escriba su correo.
                    // Grid column
                  // Grid row
                  // Grid row
                  .row
                    .col-md-12
                      .md-form.mb-0
                        input#subject.form-control(type='text' name='subject' required='')
                        label(for='subject') Asunto 
                        .invalid-feedback
                          | Por favor escriba un asunto para este mensaje.
                  // Grid row
                  // Grid row
                  .row
                    // Grid column
                    .col-md-12
                      .md-form
                        textarea#message.form-control.md-textarea(type='text' name='message' rows='2' required='')
                        label(for='message') Su mensaje
                        .invalid-feedback
                          | Por favor escriba el cuerpo de su mensaje.
                  // Grid row
                  .text-center.text-md-left
                    input.btn.btn-primary(type='submit' value='Enviar')
                .status
              // Grid column
              // Grid column
              .col-md-3.text-center
                ul.list-unstyled.mb-0
                  li
                    i.fas.fa-map-marker-alt.fa-2x
                    p Narnia, la victoria. Peru
                  li
                    i.fas.fa-phone.mt-4.fa-2x
                    p + 01 234 567 89
                  li
                    i.fas.fa-envelope.mt-4.fa-2x
                    p anaiscisneros@peluchin.com
              // Grid column

