extends ../layout/index
block link
  -var selected='referidos'
block content
    main.text-center
        .container
          .row.align-items-center.my-3
            .col-md-3
              hr
            .col-md-6.text-center
              h1.display-4 CONTACTO
            .col-md-3
              hr
          